<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDiskInfoContract" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/DiskInfoService/ep1"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDiskInfoContract"
                contract="DiskInfoServiceReference.IDiskInfoContract" name="WSHttpBinding_IDiskInfoContract">
                <identity>
                    <userPrincipalName value="DESKTOP-JO0M4M5\Nickky" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>